%h2= t('devise.mailer.resend_confirmation_instructions')

= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!


  = f.label :email, t('views.email')
  = f.email_field :email, autofocus: true

  .buttons
    = f.submit t('views.submit')