<div class="module">
  <h5>Balance:</h5>
  <div id="balance">
      <p>RD$<%= number_with_delimiter @current_user_funds %></p>
  </div>
</div>

<div class="module">
  <h5>Bono Deportivo:</h5>
  <div id="balance">
    <p>RD$<%= number_with_delimiter @current_user_bonus_funds %></p>
    <div class="bonus_meter">
      <div class="meter_bar">
        <div class="bar_liquid" percent="<%=  @current_user.bonus_status %>"></div>
      </div>
      <span class="meter_amount"><%=  @current_user.bonus_status %>%</span>
    </div>
    <% unless @current_user.bonus_updated.nil? %>
        <span class="bonus_update">Actualizado el <%= @current_user.bonus_updated.strftime("%d/%m/%Y") %></span>
    <% end %>
  </div>
</div>

