= form_for @current_user do |f|

  - if @current_user.errors.any?
    #error_explanation
      .alert.alert-error
        = t('views.form_errors')
        %ul
          - @current_user.errors.full_messages.each do |msg|
            %li= msg

  = field_set_tag t('views.account') do
    = label :username, t('views.username')
    = f.text_field :username, :readonly => true

    = label :email, t('views.email')
    = f.text_field :email, :readonly => true

  /= f.password_field :password_digest, :required => true, :placeholder => t('views.password'), :disabled => true
  /= f.password_field :password_confirmation, :required => true, :placeholder => t('views.confirm_password')
  /= f.radio_button :gender, 'male', :checked => true
  /= f.radio_button :gender, 'female'

  = field_set_tag t('views.personal') do
    = label :name, t('views.name')
    = f.text_field :name, :readonly => true

    = label :surname, t('views.surname')
    = f.text_field :surname, :readonly => true

    = label :birthday, t('views.date_of_birth')
    = f.date_field :birthday, :readonly => true

    = label :cellphone, t('views.cellphone')
    = f.telephone_field :cellphone, :required => true

    = label :city, t('views.city')
    = f.telephone_field :city, :required => true

  %br
  = field_set_tag t('views.security') do
    = label :pin, 'Pin'
    = f.text_field :pin, :required => true

  .buttons
    = link_to t('views.cancel'), account_path, class: 'cancel'
    = f.submit t('views.update')