= form_for @user do |f|
  = render 'error_messages'

  %br
  = label :username, t('views.username')
  = f.text_field :username, :required => true

  = label :email, t('views.email')
  = f.email_field :email, :required => true

  /= label :email_confirmation, t('views.confirm_email')
  /= f.email_field :email_confirmation, :required => true

  = label :password, t('views.password')
  = f.password_field :password, :required => true

  = label :password_confirmation, t('views.confirm_password')
  = f.password_field :password_confirmation, :required => true

  = label :gender, t('views.gender')
  #gender
    = f.radio_button :gender, true
    = f.label :true, 'Male'
    = f.radio_button :gender, false
    = f.label :false, 'Female'



  %br
  = field_set_tag t('views.personal') do
    = label :name, t('views.name')
    = f.text_field :name, :required => true

    = label :surname, t('views.surname')
    = f.text_field :surname, :required => true

    /= label :identification, t('views.identification')
    /= f.text_field :identification, :required => true, :placeholder => '001-2345678-9'

    = label :birthday, t('views.date_of_birth')
    .tip_wrapper{data_tip: t('tooltips.must_be_over')}
      = f.date_field :birthday, :required => true, :placeholder => 'dd/mm/aaaa'

    = label :cellphone, t('views.cellphone')
    = f.telephone_field :cellphone, :required => true, :placeholder => '809-555-5555'

    = label :city, t('views.city')
    = f.text_field :city, :required => true

  %br
  = field_set_tag t('views.security') do
    = label :pin, t('views.pin')
    .tip_wrapper{data_tip: t('tooltips.four_digit_number')}
      = f.text_field :pin, :required => true

  .buttons
    = f.submit t('views.submit')