= form_for @user do |f|
  = render 'error_messages'

  %br
  = f.label :username, t('views.username')
  = f.text_field :username, :required => true

  = f.label :email, t('views.email')
  = f.email_field :email, :required => true

  /= label :email_confirmation, t('views.confirm_email')
  /= f.email_field :email_confirmation, :required => true

  = f.label :password, t('views.password')
  = f.password_field :password, :required => true

  = f.label :password_confirmation, t('views.confirm_password')
  = f.password_field :password_confirmation, :required => true


  %br
  = field_set_tag t('views.personal') do
    = f.label :name, t('views.name')
    = f.text_field :name, :required => true

    = f.label :surname, t('views.surname')
    = f.text_field :surname, :required => true

    = f.label :gender, t('views.gender')
    #gender
      = f.radio_button :gender, false
      = f.label :false, t('views.female')
      = f.radio_button :gender, true
      = f.label :true, t('views.male')

    /= label :identification, t('views.identification')
    /= f.text_field :identification, :required => true, :placeholder => '001-2345678-9'

    = f.label :birthday, t('views.date_of_birth')
    .tip_wrapper{data_tip: t('tooltips.must_be_over')}
      = f.date_field :birthday, :required => true, :placeholder => 'dd/mm/aaaa'

    = f.label :cellphone, t('views.cellphone')
    = f.telephone_field :cellphone, :required => true, :placeholder => '809-555-5555'

    = f.label :city, t('views.city')
    = f.text_field :city, :required => true


  %br
  = field_set_tag t('views.security') do
    = f.label :pin, t('views.pin')
    .tip_wrapper{data_tip: t('tooltips.four_digit_number')}
      = f.text_field :pin, :required => true

  .terms
    = f.check_box(:terms_of_service)
    = f.label(:terms_of_service, "Acepto los Términos y Condiciones.") #{link_to t('views.terms_and_conditions'), terms_path, :target => '_blank'}


  .buttons
    = f.submit t('views.submit')