= form_for @user do |f|
  = render 'error_messages'

  %br
  = f.label :username, t('views.username')
  = f.text_field :username, :required => true, :maxlength => 14

  = f.label :email, t('views.email')
  = f.email_field :email, :required => true

  = f.label :email_confirmation, t('views.confirm_email')
  = f.email_field :email_confirmation, :required => true

  = f.label :password, t('views.password')
  .tip_wrapper
    = f.password_field :password, :required => true
    #pswd_info
      %h4 Tu contraseña debe tener por lo menos:
      %ul
        %li#length.invalid 8 caracteres
        %li#letter.invalid Una letra
        %li#capital.invalid Una mayúscula
        %li#number.invalid Un número



  = f.label :password_confirmation, t('views.confirm_password')
  = f.password_field :password_confirmation, :required => true

  = field_set_tag t('views.personal') do
    = f.label :name, t('views.name')
    = f.text_field :name, :required => true, :maxlength => 35

    = f.label :surname, t('views.surname')
    = f.text_field :surname, :required => true, :maxlength => 35

    = f.label :identification, t('views.identification')
    = f.text_field :identification, :required => true, :placeholder => '001-2345678-9', :maxlength => 13

    = f.label :gender, t('views.gender')
    #gender
      = f.radio_button :gender, false
      = f.label :false, t('views.female'), :value => false
      = f.radio_button :gender, true
      = f.label :true, t('views.male'), :value => true

    = f.label :birthday, t('views.date_of_birth')
    .tip_wrapper{data_tip: t('tooltips.must_be_over')}
      = f.date_select :birthday, order: [:day, :month, :year], start_year: 2014, end_year: 1920

    = f.label :cellphone, t('views.cellphone')
    = f.telephone_field :cellphone, :required => true, :placeholder => '809-555-5555', :maxlength => 12


  = field_set_tag t('views.address') do
    = f.label :country, t('views.country')
    .tip_wrapper
      = f.select(:country, options_for_select([['República Dominicana', 'DO']], 1))

    = f.label :state, t('views.state')
    .tip_wrapper
      = f.select(:state, options_for_select(provincias))

    = f.label :city, t('views.city')
    = f.text_field :city, :required => true

    = f.label :address, t('views.address')
    = f.text_field :address, :required => true


  = field_set_tag t('views.security') do
    = f.label :pin, t('views.pin')
    .tip_wrapper{data_tip: t('tooltips.four_digit_number')}
      = f.text_field :pin, :required => true, :maxlength => 4

  .terms
    = f.check_box(:terms_of_service)
    %p
      = t('views.accept_terms')
      = link_to t('views.terms_and_conditions'), terms_path, :target => '_blank'

  .buttons
    = f.submit t('views.submit')