<h1><%= t('views.edit_profile') %></h1>


<%= render 'edit_form' %>



<% content_for :modules do %>
<div id="balance">
  <span>Balance:</span>
  <p>RD$<%= @current_user_funds %></p>
  <%= link_to t('views.deposit'), '#', id: 'deposit' %>
  <%= link_to t('views.withdraw'), '#', id: 'withdraw' %>
</div>
<% end %>