<div id="homebox">

    <div class="left">

      <!-- start Basic Jquery Slider -->
      <ul class="bxslider">
        <li><%= link_to image_tag("slider/3.jpg"), racebook_path %></li>
        <li><%= link_to image_tag("slider/4.jpg"), "#" %></li>
      </ul>

      <script>
          $(document).ready(function(){
              $('.bxslider').bxSlider();
          });
      </script>
      <!-- end Basic jQuery Slider -->

<!--
      <a id="lottery-animation" href="#">
        <ul class="lottery-info">
          <li class="lottery-logo"><%= image_tag "lotteries/newyork.png" %></li>
          <li class="lottery-name">New York Lottery</li>
          <li class="lottery-subname">Pick 4</li>
          <li class="numbers">
            <ul>
              <li>28</li>
              <li>45</li>
              <li>11</li>
              <li>3</li>
              <li>29</li>
              <li>8</li>
            </ul>
          </li>
        </ul>
        <span id="lottery-all">ver todos los resultados</span>
      </a>

-->

    </div> <!--- End Left --->





    <div class="right">
      <ul id="tabs">
        <li><%= link_to sportsbook_path do %><%= image_tag "icons/sportsbook.png" %><%= t('views.sportsbook') %><% end %></li>
        <li><%= link_to racebook_path do %><%= image_tag "icons/racebook.png" %><%= t('views.racebook') %><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/lottery.png" %><%= t('views.lottery') %><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/casino.png" %><%= t('views.casino') %><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/live_casino.png" %><%= t('views.live_casino') %><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/poker.png" %><%= t('views.poker') %><% end %></li>
      </ul>
      <!---<%= link_to image_tag("registrate.png"), register_path %>--->
      <%= link_to image_tag("ayuda.png"), support_path %>
    </div> <!--- End Right --->

</div> <!--- End Homebox --->