<div id="homebox">

    <div class="left">

      <!-- start Basic Jquery Slider -->
      <ul class="bxslider">
        <li><%= link_to image_tag("slider/7.jpg"), promotions_path %></li>
        <li><%= link_to image_tag("slider/5.jpg"), lottery_path %></li>
        <li><%= link_to image_tag("slider/2.jpg"), sportsbook_path %></li>
        <li><%= link_to image_tag("slider/6.jpg"), sportsbook_path %></li>
        <li><%= link_to image_tag("slider/3.jpg"), racebook_path %></li>
      </ul>
      <!-- end Basic jQuery Slider -->

    </div> <!--- End Left --->


    <div class="right">
      <ul id="tabs">
        <li><%= link_to sportsbook_path do %><%= image_tag "icons/sportsbook.png" %><%= t('views.sportsbook') %><% end %></li>
        <li><%= link_to racebook_path do %><%= image_tag "icons/racebook.png" %><%= t('views.racebook') %><% end %></li>
        <li><%= link_to lottery_path do %><%= image_tag "icons/lottery.png" %><%= t('views.lottery') %><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/casino.png" %><%= t('views.casino') %> <span>Pronto</span><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/live_casino.png" %><%= t('views.live_casino') %> <span>Pronto</span><% end %></li>
        <li><%= link_to '#' do %><%= image_tag "icons/poker.png" %><%= t('views.poker') %> <span>Pronto</span><% end %></li>
      </ul>
      <!---<%= link_to image_tag("registrate.png"), register_path %>--->
      <%= link_to image_tag("ayuda.png"), support_path, :style => "text-align:center" %>
    </div> <!--- End Right --->

</div> <!--- End Homebox --->

<div id="homebottom">

    <%= link_to lottery_path, id: "lotto_box" do %>
      <h5><%= t('views.lottery_results') %></h5>
      <ul class="lotto_info">
      </ul>
    <% end %>
</div>

