<div id="homebox">

    <div class="left">

      <!-- start Basic Jquery Slider -->
      <ul class="bxslider">
        <li><%= link_to image_tag("slider/7.jpg"), promotions_path %></li>
        <li><%= link_to image_tag("slider/5.jpg"), lottery_path %></li>
        <li><%= link_to image_tag("slider/2.jpg"), sportsbook_path %></li>
        <li><%= link_to image_tag("slider/6.jpg"), sportsbook_path %></li>
        <li><%= link_to image_tag("slider/3.jpg"), racebook_path %></li>
      </ul>
      <!-- end Basic jQuery Slider -->

    </div> <!--- End Left -->


    <div class="right">

      <div style="text-align:center" id="social">
      <%= link_to image_tag("bg/siguenos1.png"), 'http://www.facebook.com/lafundard', :target => "_blank", :style => "text-align:right;width:25%;" %>
      <%= link_to image_tag("bg/siguenos2.png"), 'http://www.twitter.com/lafundard', :target => "_blank", :style => "text-align:left;width:73%" %>
      </div>
      <%= link_to image_tag("ayuda.png"), support_path, :style => "text-align:center" %>
    </div> <!--- End Right -->

</div> <!--- End Homebox -->

<div id="homebottom">

    <%= link_to lottery_path, id: "lotto_box" do %>
      <h5><%= t('views.lottery_results') %></h5>
      <ul class="lotto_info">
      </ul>
    <% end %>
</div>

