<div class="module">
  <h5>Provedores:</h5>
  <div id="providers">

    <li><%= link_to image_tag("payment-methods/skrill.png"), 'https://www.skrill.com/es/inicio/', :target => '_blank'  %>
    Debes de tener una cuenta con Skrill para depósitos con:<br>
    <%= image_tag("payment-methods/visa.png") %>
    <%= image_tag("payment-methods/mastercard.png") %>
    <%= image_tag("payment-methods/amex.png") %>
    </li>

    <li><%= link_to image_tag("payment-methods/inpay.png"), 'http://www.inpay.com/', :target => '_blank'  %>
      Depósitos usando tu cuenta de banco.
    </li>
  </div>
</div>