


%h1 Bonus Center


- @users.order("created_at desc").each do |user|
  = form_tag bonus_center_edit_path do
    = text_field_tag :username, user.username, :readonly => true
    = text_field_tag :bonus_status, user.bonus_status
    = text_field_tag :bonus_updated, user.bonus_updated, :readonly => true
    = hidden_field_tag :user_id, user.id
    = submit_tag t('views.update'), :class => 'button'

