


%h2= t('views.opened_tickets')
%h3= t('views.open')
%table.ticketcenter.tickets{:cellpadding => 0, :cellspacing => 0}
  %tr{:class => "tabletop"}
    %td= t('views.date')
    %td= t('views.subject')
    %td= t('views.username')
    %td= t('views.last_update')
    %td .
    - @inquiries.where("status = true").order("created_at desc").each do |ticket|
      %tr{:class => cycle('odd', 'even')}
        %td= ticket.created_at.strftime("%d/%m/%Y")
        %td= link_to ticket.subject, ticket
        %td.status= @users.find(ticket.user_id).username
        %td= ticket.updated_at.strftime("%d/%m/%Y %H:%M:%S")
        %td= link_to 'ver ticket', ticket, :class => "see_ticket"


%h3= t('views.closed')
%table.ticketcenter.tickets{:cellpadding => 0, :cellspacing => 0}
  %tr{:class => "tabletop"}
    %td= t('views.date')
    %td= t('views.subject')
    %td= t('views.username')
    %td= t('views.last_update')
    %td .
    - @inquiries.where("status = false").order("created_at desc").each do |ticket|
      %tr{:class => cycle('odd', 'even')}
        %td= ticket.created_at.strftime("%d/%m/%Y")
        %td= link_to ticket.subject, ticket
        %td.status= @users.find(ticket.user_id).username
        %td= ticket.updated_at.strftime("%d/%m/%Y %H:%M:%S")
        %td= link_to 'ver ticket', ticket, :class => "see_ticket"
