%h1= t('views.support')
%p Estamos a tus órdenes para facilitarte una mejor experiencia de juego. Elige la forma que te sea más fácil de contactarnos:
%table
  %tr
    %td#phone
      %h4 Teléfonos
      %p Lunes a viernes <br> 8:00 a.m. - 5:00 p.m.
      %ul
        %li 829.946.5550
        %li 829.947.5510
    %td#chat
      %h4= t('views.live_chat')
      %p Lunes a viernes <br> 8:00 a.m. - 5:00 p.m.
      = link_to t('views.chat_now'), "javascript:void(window.open('http://chat.lafunda.do/chat.php?a=61b32','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))", :target => '_blank', :class => 'button'
    %td#inquiry
      %h4= t('views.support_ticket')
      - if @current_user
        %p Escríbenos y te responderemos en la mayor brevedad posible.
        = link_to t('views.open_ticket'), new_inquiry_path, class: :button
      - else
        %p Para abrir un ticket debes de iniciar tu sesión.
        .disabled= t('views.open_ticket')

%br
%h4 Dirección
%p También puedes visitarnos en nuestras oficinas de la Av. Gustavo Mejía Ricart #94, Edif. Kinbar International, Naco, Santo Domingo.


- if @current_user
  %h2= t('views.opened_tickets')
  %table.usertickets.tickets{:cellpadding => 0, :cellspacing => 0}
    %tr{:class => "tabletop"}
      %td= t('views.date')
      %td= t('views.subject')
      %td= t('views.last_update')
      %td .
    - if @user_inquiries.exists?
      - @user_inquiries.order("created_at desc").each do |ticket|
        %tr{:class => cycle('odd', 'even')}
          %td= ticket.created_at.strftime("%d/%m/%Y")
          %td= link_to ticket.subject, ticket
          %td= ticket.updated_at.strftime("%d/%m/%Y %H:%M:%S")
          %td= link_to 'ver ticket', ticket, :class => "see_ticket"
    - else
      %tr
        %td#none No has creado ningún ticket de soporte.


= render 'faq'