%h1= t('views.support')
%p Estamos a tus ordenes para facilitarte una mejor experiencia de juego. Elige la forma que te sea más fácil de contactarnos:
%table
  %tr
    %td#phone
      %h4 Teléfonos
      %p Lunes a viernes <br> 8:00 a.m. - 5:00 p.m.
      %ul
        %li 829.946.5550
        %li 829.947.5510
    %td#chat
      %h4= t('views.live_chat')
      %p Lunes a viernes <br> 8:00 a.m. - 5:00 p.m.
      = link_to t('views.chat_now'), "javascript:void(window.open('http://chat.lafunda.do/chat.php?a=61b32','','width=590,height=760,left=0,top=0,resizable=yes,menubar=no,location=no,status=yes,scrollbars=yes'))", :target => '_blank', :class => 'button'
    %td#inquiry
      %h4= t('views.support_ticket')
      - if @current_user
        %p Escríbenos y te responderemos en la mayor brevedad posible.
        = link_to t('views.open_ticket'), new_inquiry_path, class: :button
      - else
        %p Para abrir un ticket debes de iniciar tu sesión.
        .disabled= t('views.open_ticket')

%br
%br

- if @current_user
  %h2= t('views.opened_tickets')
  %table#tickets{:cellpadding => 0, :cellspacing => 0}
    %tr{:class => "tabletop"}
      %td= t('views.date')
      %td= t('views.subject')
      %td= t('views.status')
      %td= t('views.last_update')
      %td .
    - if @user_inquiries.exists?
      - @user_inquiries.order("created_at desc").each do |ticket|
        %tr{:class => cycle('odd', 'even')}
          %td= ticket.created_at.strftime("%d/%m/%Y")
          %td= link_to ticket.subject, ticket
          %td.status= get_status(ticket.status)
          %td= ticket.updated_at.strftime("%d/%m/%Y %H:%M:%S")
          %td= link_to 'ver ticket', ticket, :class => "see_ticket"
    - else
      %tr
        %td#none No has creado ningún ticket de soporte.


#faq
  %h2= t('views.faq')
  .accordion
    %h4 ¿Qué hago si se me olvida mi usuario y/o contraseña?
    %div
      %p Por favor comunícate con nuestro departamento de Servicio al Cliente para ayudarte.

    %h4 ¿Cómo cambio mi contraseña?
    %div
      %p Por favor comunícate con nuestro departamento de Servicio al Cliente para ayudarte.

    %h4 ¿Cómo cancelo mi cuenta?
    %div
      %p Por favor comunícate con nuestro departamento de Servicio al Cliente para ayudarte.

    %h4 ¿Qué puedo hacer si yo, o alguien cercano a mi, es adicto al juego?
    %div
      %p Admitir que se tiene una adicción es una decisión muy difícil de hacer, por eso estamos en la total disposición de facilitar a quien lo necesite las herramientas para comenzar a tratar este problema. Por favor haz #{ link_to 'clic aquí', responsible_path }.

    %h4 ¿Los menores de edad pueden usar la página?
    %div
      %p No. La ley prohibe a menores de 18 años tener una cuenta en esta página. Esto es algo que tomamos muy en serio, por lo que cancelaremos cualquier cuenta, y tomaremos medidas a discreción nuestra, si descubrimos que es usada por un menor de edad.

    %h4 ¿Me pueden ayudar con un juego en particular?
    %div
      %p Cada categoría de juego tiene una sección de ayuda donde se explican las reglas, pero también puedes comunicarte con nuestro departamento de Servicio al Cliente, donde te pueden orientar paso por paso.

    %h4 ¿Cómo puedo hacer un depósito y/o retiro?
    %div
      %p Para tu comodidad ofrecemos varias formas para realizar depósitos y retiros. Estas incluyen: tarjetas de crédito, algunas tarjetas de débito, transferencias bancarias y eWallets, entre otras. En el área del cajero se detalla cada forma de pago.

    %h4 ¿Cuáles son los límites de retiro?
    %div
      %p Los retiros podrán hacerse por vía electrónica por un monto de hasta RD$10,000.00 por día. El valor máximo de retiro por semana es de RD$70,000.00.

    %h4 ¿Qué tiempo duran para procesar un depósito y/o retiro?
    %div
      %p Es nuestra prioridad hacer todo lo posible para minimizar tu tiempo de espera, pero hay varios factores que influyen en la rapidez con la que se procesan las transacciones. Estas incluyen la hora, día y procesador de pago utilizado, ya que cada operación tiene que ser aprobada por nosotros y las entidades financieras envueltas. Por consiguiente cualquier transacción puede ser aprobada de forma casi inmediata o tomar hasta 48 horas laborables.

    %h4 ¿Existen cargos por hacer depósitos y/o retiros?
    %div
      %p Nosotros no generamos cargos por depósitos y/o retiros, pero los bancos y algunos procesadores de pago puede que si lo hagan.

    %h4 ¿Qué tan seguros están mis datos y dinero?
    %div
      %p Una de nuestras prioridades es la seguridad de tus datos y dinero. Algunas de las medidas que tomamos son: Encriptación de toda actividad entre tu navegador y nuestra página. Encriptación de nuestras bases de datos. Backups frecuentes de todo el sistema. Está estrictamente controlado y límitado el personal que maneja informaciones delicadas. Cada determinado tiempo auditamos la seguridad de nuestra página y departamento Financiero. Solo utilizamos procesadores de pago confiables y de reconocida trayectoria en la industria. Cumplimos con los estándares de la industria y los requisitos impuestos por el Ministerio de Hacienda de la República Dominicana.

    %h4 ¿Qué pasa si pierdo la conexión durante el juego?
    %div
      %p La pérdida de conexión no va a afectar el resultado del juego. Si pierdes la conexión durante un juego que requiere una acción adicional este se reanudará cuando te vuelvas a conectar. En caso de que estés en medio de una mano el proceso concluirá normalmente y verás el resultado cuando te vuelvas a conectar.

    %h4 ¿Por qué no me están llegando los emails de La Funda?
    %div
      %p Por favor revisa tu folder de spam y agrega sevicioalcliente@lafunda.do a tu lista de contactos.

  %h2 ¿Cómo Jugar?
  %h4= t('views.sportsbook')
  .accordion
    %h4 ¿Cómo visualizo las líneas de los eventos deportivos?
    %div
      %p Para mostrar las líneas actuales haz clic en la casilla situada a la izquierda del período de tiempo(s) o deporte(s) que deseas ver y luego haz clic en el icono de la lupa a la derecha.

    %h4 ¿Cuáles son los límites de apuestas?
    %div
      %p El límite máximo para las apuestas directas es de RD$10,000. El límite máximo para las apuestas exóticas es de RD$2,000.

    %h4 ¿Cómo hago una apuesta directa (Straight Wager)?
    %div
      %p Haz clic en la línea que deseas apostar para añadirla a tu boleto de apuestas y llena el monto de tu apuesta deseada. En caso de que desees comprar puntos (baloncesto, fútbol americano, etc.) haz clic en la línea desplegable sobre la hoja de apuestas y elige tu línea modificada. Una vez que hayas ingresado tus apuestas deseadas, haz clic en la casilla situada en la parte inferior de la hoja de apuestas para confirmar que haz revisado todas sus apuestas y luego en el botón "Guardar apuesta" para completar tu transacción.

    %h4 ¿Cómo hago un If Bet y un Reverse?
    %div
      %p Para hacer una apuesta "If bet" o "Reverse", haz clic en la línea "Straight bet" en el cuadro de la parte superior de la pantalla de apuestas, y un despliegue de botones van a aparecer, selecciona la opción "If bet" para su tipo de apuesta. Si seleccionas "If win only" o "If win, tie or cancel", debes  de introducir el monto que deseas arriesgar/ganar en cada elección individual. Si seleccionas "Reverse" debes sólo introducir el monto en la casilla "cantidad ", el sistema te auto asigna el valor al riesgo (si el moneyline/juice es negativo) o el gane (si el moneyline/juice es positivo).

    %h4 ¿Cómo hago una una apuesta Parlay?
    %div
      %p  A medida que agregas equipos a tu boleta de apuestas, te darás cuenta de la opción "Parlay" que aparecerá tan pronto como tengas bastantes selecciones para un parlay. Si la opción no aparece, puede ser debido a haber seleccionado una línea en la que no se puede hacer parlay. Si deseas eliminar una selección del parlay, desactiva la casilla al lado de la línea de dicha selección. Si deseas apostar en un round robin, la opción aparecerá tan pronto como tengas bastantes equipos seleccionados. Elige la opción del round robin de su preferencia.

    %h4 ¿Cómo hago un Teaser?
    %div
      %p A medida que agregas equipos de baloncesto o fútbol americano a tu boleta de apuestas, te darás cuenta que la opción "parlay" aparecerá tan pronto como tengas suficientes selecciones. Para apostar a un teaser, haz clic en en la casilla de la línea "Parlay Bet" y elige la opción de “Teaser bet”. Justo debajo aparecerá un botón con los puntos a elegir, haz clic y las opciones disponibles de "Teaser bet" aparecerán. Después de seleccionar la cantidad de puntos deseada, una nueva caja aparecerá con las líneas seleccionadas ya modificadas. Por último,  añade el monto que deseas apostar o ganar.

    %h4 ¿Me pueden ayudar con un juego en particular?
    %div
      %p Cada categoría de juego tiene una sección de ayuda donde se explican las reglas, pero también puedes comunicarte con nuestro departamento de Servicio al Cliente, donde te pueden orientar paso por paso.


  %h4= t('views.racebook')
  .accordion
    %h4 ¿Cómo visualizo los hipódromos y las carreras?
    %div
      %p Para mostrar los hipódromos y las carreras, haz clic en el hipódromo deseado del menú situado a la izquierda, o en el cuadro de la parte superior con las “Carreras Destacadas” próximas a comenzar; se desplegará la información del hipódromo seleccionado junto con el menú de carreras disponibles para ese día.

    %h4 ¿Cuáles son los límites de apuestas?
    %div
      %p El límite máximo para las apuestas directas es de RD$10,000. El límite máximo para las apuestas exóticas es de RD$2,000.

    %h4 ¿Cómo hago una apuesta directa (Straight Wager), Win, Place y Show?
    %div
      %p Luego de haber seleccionado el hipódromo deseado, haz clic a la carrera en la que deseas apostar. En seguida aparecerá, en la parte de abajo, un menú con los diferentes tipos de apuesta disponibles para cada una de las carrera,  los cuales pueden incluir  Straight, Exacta, Trifecta, Superfecta, Daily Double y Pick (3, 4 y 5), y más abajo, un cuadro con los caballos o perros que competirán en dicha carrera. Haz clic en la opción “Straight” para elegir el tipo de apuesta directa que deseas apostar. Selecciona la casilla del caballo/perro deseado, y su posición en el resultado de la carrera y llena el monto de tu apuesta deseado para añadirlo a su boleto de apuestas. Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas, para confirmar que ha revisado todas sus apuestas, y luego en el botón "Guardar Apuesta" para completar tu transacción.

    %h4 ¿Cómo hago una Exacta?
    %div
      %p Para hacer una apuesta "Exacta" o elegir los dos primeros finalistas de una carrera, haz clic en la casilla “Exacta” desde el menú de apuestas disponibles de cada carrera. Ingresa el monto a apostar en la casilla del mismo nombre. En caso de apostar además al orden inverso de llegada de ambas selecciones haz clic en la casilla marcada con el botón "Box?". En el cuadro de la parte inferior donde aparecen los integrantes de la carrera, haz clic en las casillas de sus selecciones para la apuesta. Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas, para confirmar que haz revisado todas tus apuestas, y luego en el botón "Guardar apuesta" para completar tu transacción.

    %h4 ¿Cómo apuesto a una Trifecta?
    %div
      %p Para apostar a una Trifecta elige a los tres primeros finalistas en el orden exacto de una carrera. Haz clic en la casilla “Trifecta” desde el menú de apuestas disponibles de cada carrera. Ingresa el monto a apostar correspondiente en la casilla del mismo nombre. En el cuadro de la parte inferior aparecerán las casillas correspondientes a los tres primeros lugares de la carrera. Marca en estas casillas a los integrantes seleccionados de la carrera en el orden deseado para la apuesta. Si deseas apostar además al orden inverso de llegada de cada una de las  selecciones, haz clic en la casilla marcada con el botón "Box?", que esta justo al lado de la casilla del Monto a apostar. Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas, para confirmar que haz revisado todas tus apuestas, y luego en el botón "Guardar apuesta" para completar tu transacción.

    %h4 ¿Cómo apuesto a una Superfecta?
    %div
      %p En una Superfecta se elige a los cuatro primeros finalistas de una carrera en el orden exacto. Para apostarla haz clic en la casilla “Superfecta” desde el menú de apuestas disponibles de cada carrera. Ingresa el monto de la apuesta correspondiente en la casilla del monto a apostar. En el cuadro de la parte inferior aparecerán las casillas correspondientes a los cuatro primeros lugares de la carrera. Selecciona en estas casillas a los integrantes de la carrera en el orden deseado para la apuesta. Si al igual que en una Trifecta, deseas apostar además al orden inverso de llegada de cada una de las  selecciones en el orden posible, haz clic en la casilla marcada con el botón "Box?". Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas, para confirmar que haz revisado todas tus apuestas, y luego en el botón "Guardar apuesta" para completar su transacción.

    %h4 ¿Cómo apuesto a un Daily Double?
    %div
      %p En esta apuesta se elige a los ganadores de dos (2) carreras consecutivas. Para apostar haz clic en la casilla “Daily Double” desde el menú de apuestas disponibles de cada carrera. Ingresa el monto a apostar en la casilla del mismo nombre. En la parte inferior aparecerán dos (2) cuadros correspondientes a dos (2) carreras consecutivas con los integrantes de cada carrera, haz clic en la casilla de la selección de cada uno de los cuadros para completar la apuesta. Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas, para confirmar que ha revisado todas sus apuestas, y luego en el botón "Guardar Apuesta" para completar su transacción.

    %h4 ¿Cómo apuesto a un Pick 3, 4 y 5?
    %div
      %p En esta apuesta se elige a los ganadores de tres, cuatro o cinco carreras consecutivas. Para apostar haz clic en la casilla “Pick 5” desde el menú de apuestas disponibles de cada carrera. Ingresa la cantidad en la casilla Monto a apostar. En la parte inferior aparecerán cinco (5) cuadros correspondientes a cinco (5) carreras consecutivas, con los integrantes de cada carrera. Haz tu apuesta utilizando la cantidad de carreras en proporción al tipo de Pick que deseas apostar. Haz clic en las casillas de los integrantes seleccionados de cada uno de las carreras para completar la apuesta. Puedes elegir tantos integrantes de cada carrera como así desees para obtener una mayor cantidad de posibilidades de ganar. Una vez que hayas ingresado tu apuesta deseada, haz clic en la casilla “Agregar cupón” situada en la parte inferior de la hoja de apuestas para confirmar que ha revisado todas sus apuestas, y luego en el botón "Guardar apuesta" para completar tu transacción.
