%h1= t('views.open_ticket')


= form_for @inquiry do |f|
  = label :name, t('views.name')
  = f.text_field :name, :readonly => true, :value => @current_user.name + ' ' + @current_user.surname

  = label :email, t('views.email')
  = f.email_field :email, :readonly => true, :value => @current_user.email

  = label :subject, t('views.subject')
  = f.text_field :subject, :required => true

  = label :message, t('views.message')
  = f.text_area :message, :as => :text, :required => true, :input_html => {:rows => 10}


  .buttons
    = f.submit t('views.submit')



