%h1 Ticket ##{@inquiry.id}

%h3= @inquiry.subject

%table#ticket_detail{:cellpadding => 0, :cellspacing => 0}
  %tr.tabletop
    %td= t('views.date')
    %td= t('views.status')
    %td= t('views.last_update')
  %tr
    %td= @inquiry.created_at.strftime("%d/%m/%Y")
    %td.status= get_status(@inquiry.status)
    %td= @inquiry.updated_at.strftime("%d/%m/%Y %H:%M:%S")


.entrywrap
  .user
    .author= @inquiry.user.name + " " + @inquiry.user.surname + ":"
    = @inquiry.message
    .date= t('views.sent_at') + @inquiry.created_at.strftime("%H:%M:%S %d/%m/%Y")

- if @inquiry.entries.exists?
  - @inquiry.entries.order("created_at asc").each do |entry|
    .entrywrap
      %div{:class => is_employee(entry)}
        .author= entry.author + (" (soporte)" if is_employee(entry)) + ":"
        %div= entry.message
        .date= t('views.sent_at') + entry.created_at.strftime("%H:%M:%S %d/%m/%Y")


= render "entries/new_form"