%h1 Ticket ##{@inquiry.id}

%h3= @inquiry.subject

.entrywrap
  .user
    .author= @inquiry.user.name + " " + @inquiry.user.surname + ":"
    = @inquiry.message
    .date= t('views.sent_at') + @inquiry.created_at.strftime("%H:%M:%S %d/%m/%Y")

- if @inquiry.entries.exists?
  - @inquiry.entries.order("created_at asc").each do |entry|
    .entrywrap
      %div{:class => is_employee(entry)}
        .author= entry.author + ":"
        %div= entry.message
        .date= t('views.sent_at') + entry.created_at.strftime("%H:%M:%S %d/%m/%Y")


= render "entries/new_form"