<div id="footer">
    <div class="wrapper">

      <ul>
        <h6><%= t('views.games') %></h6>
        <%= nav_link t('views.casino'), casino_path %>
        <!---<li><%= link_to t('views.live_casino'), live_casino_path %></li>
        <li><%= link_to t('views.poker'), poker_path %></li>-->
        <%= nav_link t('views.sportsbook'), sportsbook_path, 'sportsbook' %>
        <%= nav_link t('views.racebook'), racebook_path, 'racebook' %>
        <%= nav_link t('views.lottery'), lottery_path, 'lottery' %>
      </ul>


      <ul>
        <h6><%= t('views.information') %></h6>
        <li><%= link_to t('views.terms_and_conditions'), terms_path %></li>
        <li><%= link_to t('views.responsible_gaming'), responsible_path %></li>
        <li><%= link_to t('views.privacy_policy'), privacy_path %></li>

      </ul>


      <ul id="paymentmethods">
        <!--<h6><%= t('views.payment_methods') %></h6>-->
        <li><%= link_to image_tag("payment-methods/visa.png"), cashier_path %></li>
        <li><%= link_to image_tag("payment-methods/mastercard.png"), cashier_path %></li>
        <li><%= link_to image_tag("payment-methods/maestro.png"), cashier_path %></li>
        <li><%= link_to image_tag("payment-methods/amex.png"), cashier_path  %></li>
        <li><%= link_to image_tag("payment-methods/skrill.png"), cashier_path  %></li>
        <li><%= link_to image_tag("payment-methods/inpay.png"), cashier_path %></li>
        <li><%= link_to image_tag("payment-methods/bank_transfer.png"), cashier_path  %></li>
        <li><%= link_to image_tag("payment-methods/diners.png"), cashier_path  %></li>
      </ul>

      <ul id="securessl">
        <%= link_to image_tag("bg/alphassl.png"), "#" %>
        <%= link_to image_tag("bg/trust.png"), "#", :style => "padding-left:30px;" %>
      </ul>





    </div>
</div>

