<div id="header">
  <!--<div id="langselect"><%= link_to_unless I18n.locale == :es, "Español", locale: :es %> | <%= link_to_unless I18n.locale == :en, "English", locale: :en %></div>-->
  <div id="topmenu">
    <ul id="topleft">
      <li><%= link_to new_inquiry_path do %><%= image_tag(asset_path("icons/support.png"), class: 'icon' ) %><%= t('views.support') %><% end %></li>
      <li><%= link_to community_path do %><%= image_tag(asset_path("icons/community.png"), class: 'icon' ) %><%= t('views.community') %><% end %></li>
    </ul>
    <%= link_to '', root_path, id: "logo" %>
    <div id="topright">
      <% if user_signed_in? %>
        <%= link_to sign_out_path, class: "logout" do %><span><%= t('views.sign_out') %></span><%= image_tag(asset_path("bg/logout.png"))%><% end %>
        <div style="position: relative;">
            <div id="tagarrow"><%= image_tag(asset_path("icons/arrow.png")) %></div>
            <%= link_to account_path, id: "usertag" do %><%= image_tag(asset_path("icons/tag.png"), class: 'icon' ) %> <strong><%= @current_user.username %></strong><% end %>
            <ul id="tagmenu" style="display: none">
              <%= nav_link t('views.my_account'), account_path %>
              <%= nav_link t('views.deposit'), '#' %>
              <%= nav_link t('views.withdraw'), '#' %>
            </ul>
        </div>
      <% else %>
        <%= render 'sessions/top_sign_in_form' %>
      <% end %>
    </div>
  </div>

  <ul id="mainmenu">
      <%= nav_link t('views.home'), root_path %>
      <!--<li><%= link_to t('views.casino'), casino_path %></li>
      <li><%= link_to t('views.live_casino'), live_casino_path %></li>
      <li><%= link_to t('views.poker'), poker_path %></li>-->
      <%= nav_link t('views.sportsbook'), sportsbook_path %>
      <%= nav_link t('views.racebook'), racebook_path %>
      <!--<li><%= link_to t('views.lottery'), lottery_path %></li>-->
  </ul>

</div>
