<div id="mobile_menu">

    <% if user_signed_in? %>
      <h6><%= @current_user.username %></h6>
      <ul style="margin:0">
        <%= nav_link t('views.sportsbook'), sportsbook_path %>
        <%= nav_link t('views.racebook'), racebook_path %>
      </ul>

      <ul>
        <%= nav_link t('views.my_account'), account_path %>
        <%= nav_link t('views.cashier'), cashier_path %>
        <%= nav_link t('views.support'), support_path %>
      </ul>

      <ul>
        <%= nav_link t('views.sign_out'), sign_out_path %>
      </ul>
    <% else %>
      <ul style="margin:0">
        <%= nav_link t('views.sign_in'), sign_in_path %>
        <%= nav_link t('views.register'), register_path %>
      </ul>

      <ul>
        <%= nav_link t('views.support'), support_path %>
      </ul>
    <% end %>





</div>
