<div id="mobile_menu">

    <% if @current_user %>
      <h5><%= @current_user.username %></h5>
      <ul style="margin:0">
        <%= nav_link t('views.sportsbook'), sportsbook_path %>
        <%= nav_link t('views.racebook'), racebook_path %>
        <%= nav_link t('views.lottery'), lottery_path %>
      </ul>

      <ul>
        <%= nav_link t('views.my_account'), account_path %>
        <%= nav_link t('views.cashier'), cashier_path %>
        <%= nav_link t('views.help'), support_path %>
        <%= nav_link t('views.how_to_play'), support_path(:anchor => 'faq') %>
        <%= nav_link t('views.promotions'), promotions_path %>
      </ul>

      <ul>
        <%= nav_link t('views.sign_out'), sign_out_path %>
      </ul>
    <% else %>
      <ul style="margin:0">
        <%= nav_link t('views.sign_in'), sign_in_path %>
        <%= nav_link t('views.register'), register_path %>
      </ul>

      <ul>
        <%= nav_link t('views.how_to_play'), support_path(:anchor => 'faq') %>
        <%= nav_link t('views.promotions'), promotions_path %>
      </ul>

      <ul>
        <%= nav_link t('views.help'), support_path %>
      </ul>
    <% end %>





</div>
