<!DOCTYPE html>
<html>
<head>
  <title>LA FUNDA</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
</head>
<body>
    <div id="all">
      <%= render "layouts/miniheader" %>
      <div id="main">
        <div class="wrapper">

          <%= render "layouts/header" %>

          <% if controller_name == 'welcome' %>

            <%= render "welcome/homebox" %>

          <% else %>
            <div id="content" class="<%= params[:controller] %>">

              <div class="left">
                <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
                <% if flash[:alert] %><div id="alert"><%= flash[:alert] %></div><% end %>
                <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
                <%= yield %>
              </div>

              <div class="right">
                <%= yield :modules %>
              </div>

            </div>
          <% end %>
        </div>
      <%= render "layouts/footer" %>
      <%= render "layouts/copyright" %>
      </div>
    <%= render "layouts/mobile_menu" %>
    <div id="layer" class="hidden"></div>
    </div>
</body>
</html>
