<!DOCTYPE html>
<html>
<head>
  <title>LA FUNDA</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <% if Rails.env.production? %>
      <script type="text/javascript">
          window.heap=window.heap||[];heap.load=function(a){window._heapid=a;var b=document.createElement("script");b.type="text/javascript",b.async=!0,b.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c);var d=function(a){return function(){heap.push([a].concat(Array.prototype.slice.call(arguments,0)))}},e=["identify","track"];for(var f=0;f<e.length;f++)heap[e[f]]=d(e[f])};
          heap.load("3518413452");
      </script>
  <% end %>
</head>
<body>
    <%= render "layouts/miniheader" %>
    <div class="wrapper">


        <%= render "layouts/header" %>
        <%= render "welcome/homebox" if controller_name == 'welcome' %>


        <% if controller_name != 'welcome' %>
        <div id="content" class="<%= params[:controller] %>">

          <div class="left">
            <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
            <% if flash[:alert] %><div id="alert"><%= flash[:alert] %></div><% end %>
            <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
            <%= yield %>
          </div>

          <div class="right">
            <%= yield :modules %>
          </div>

        </div>
        <% end %>

    </div>

    <%= render "layouts/footer" %>
    <%= render "layouts/copyright" %>

</body>
</html>
